body {
    background-color: #ddd;
    color: rgb(0, 0, 0);
    width: 500px;
    margin-right: auto;
    margin-left : auto;
}

#assessment {
    color: white;
    width: 60px;
    font-size: 14px;
    text-align: center;
    height: 20px;
    padding: 5px 20px;
    background-color: #0088cc;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.container > div {
    float: left;
}

input {
    height: 25px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
}
