body {
    background-color: rgba(219, 235, 233, 0.938);
    color: rgb(0, 0, 0);
    width: 500px;
    margin-right: auto;
    margin-left : auto;
}

button {
    color: white;
    padding: 5px 20px;
    background-color: #657786;
    border-color: rgb(255, 255, 255);
    border-style: outset;
}

input {
    height: 20px;
}
